# Qt build directories
build/
build-*/

# Qt Creator user files
*.user
*.pro.user*
*.qtc_clangd

# CMake / qmake
CMakeLists.txt.user
*.autosave

# Windows
*.exe
*.dll
*.obj
*.pdb
*.ilk

# IDE
.vscode/
.idea/

